html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



/* Estilo para los botones de clase primaria con contorno */
.btn-outline-primary {
    color: orange; /* Cambia el color del texto del botón a azul */
    border: 2px solid orange; /* Agrega un borde sólido azul */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    padding: 8px 16px; /* Ajusta el padding según sea necesario */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

    /* Estilo para cuando el cursor pasa sobre el botón */
    .btn-outline-primary:hover,
    .btn-outline-primary:focus {
        background-color: orange; /* Cambia el color de fondo al pasar el cursor o enfocar el botón */
        color: white; /* Cambia el color del texto a blanco */
        outline-color: orange; /* Elimina el contorno al enfocar el botón */
    }


/* Estilo para los títulos */
h1, h2, h3, h4, h5, h6 {
    text-decoration-color: orange; /* Cambia el color de los títulos */
    font-weight: bold; /* Establece la negrita en los títulos */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-danger:hover,
.btn-danger:focus,
.btn-success:hover,
.btn-success.focus {
    transform: scale(1.1);
    transition: transform 0.2s ease; /* Transición suave de la transformación */
}

.nav-link {
    border-radius: 10px;
}

.nav-link:focus,
.nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease; /* Transición suave de la transformación */
    color: white;
    border-radius: 10px;
    background-color: orange;
}

.text-prim {
    color: orange; /* Cambia el color del texto a azul */
}

.dropdown-menu {
    border-radius: 5px;
}   

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: orange;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease; /* Transición suave de la transformación */
}

html {
    position: relative;
    min-height: 100%;
}

table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%; /* Para que la tabla ocupe todo el ancho disponible */
}

/* Estilo para las celdas */
td, th {
    border-color: lightgrey ;
    padding: 8px;
    text-align: left;
}

/* Estilo para las filas impares */
tr:only-child {
    background-color: #2A2C41;
}

/* Estilo para el encabezado */
thead {
    background-color: #F4F4F8;
    border-radius: 10px 10px 0 0; /* Redondea solo las esquinas superiores */
    font-weight: bold;
    color: white; /* Cambia el color del texto a negro */
}

body {
    margin-bottom: 10px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    background: no-repeat;
    background-image: url(https://media.discordapp.net/attachments/708903554173108296/1239761083049316352/1715652462078.jpg?ex=664418fb&is=6642c77b&hm=4962dca0dc9d8c9ac3e18262754d358ba6eaf13733072257adc9a67b9145efdd&=&format=webp&width=1246&height=701);
    background-size: cover;
}

.container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Sobreponerse */
  top: 0;
  left: 0;
  background-color: #2A2C41;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  background-color: #2A2C41;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.dropdown-container {
    display: none;
    background-color: #2A2C41;
    padding-left: 8px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Mueve el contenido al abrir la sidebar */
#main1 {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.navbar, .container-fluid {
    background-color: #F4F4F8;
}

footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F4F4F8;
}

.header {
    height: 20vh;
    background: linear-gradient(to right, #2A2C41, #F4F4F8);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.heading-primary {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.50rem;
}


@media only screen and (max-width: 51.25rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 57rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 37.5rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 25.9rem) {
    .heading-primary {
        font-weight: 400;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 10vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 23.5rem) {
    .heading-primary {
        font-weight: 400;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 10vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}