html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Estilo para los botones de clase primaria con contorno */
.btn-outline-primary {
    color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

/* Estilo para cuando el cursor pasa sobre el botón */
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: orange;
    color: white; 
    outline-color: orange; 
}


/* Estilo para los títulos */
h1, h2, h3, h4, h5, h6 {
    text-decoration-color: orange;
    font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-danger:hover,
.btn-danger:focus,
.btn-success:hover,
.btn-success.focus {
    transform: scale(1.1);
    transition: transform 0.2s ease; /* Transición suave de la transformación */
}

.nav-link {
    border-radius: 10px;
}

.nav-link:focus,
.nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease; /* Transición suave de la transformación */
    color: white;
    border-radius: 10px;
    background-color: orange;
}

/* Color del texto de los titulos */
.text-prim {
    color: orange;
}

.dropdown-menu {
    border-radius: 5px;
}   

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: orange;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease; /* Transición suave de la transformación */
}

html {
    position: relative;
    min-height: 100%;
}

/* Estilos para las tablas */
table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
}

td, th {
    border-color: lightgrey ;
    padding: 8px;
    text-align: left;
}

tr:only-child {
    background-color: #2A2C41;
}

thead {
    background-color: #F4F4F8;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: white;
}

body {
    margin-bottom: 10px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    background: no-repeat;
    background-image: url(../imagenes/1715652462078.jpg);
    background-size: cover;
}

/* Botón SideBar */
.container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Sobreponerse */
  top: 0;
  left: 0;
  background-color: #2A2C41;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a, .sidebar .dropdown-btn {
  padding: 8px 8px 8px 32px;
  background-color: #2A2C41;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
  transition: 0.3s;
}

.dropdown-container {
    display: block;
    background-color: #2A2C41;
    overflow: hidden;
    max-height: 0;
    padding-left: 8px;
    transition: max-height 0.5s ease-out;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Mueve el contenido al abrir la sidebar */
#main1 {
  transition: margin-left .5s;
  padding: 20px;
}

/* Header en toda la página */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + #main2 {
  padding-top: 102px;
}

.main-sticky {
    margin-top: 100px;
}

/* Colapsibles de Centro de Ayuda */
.collapsible {
  background-color: #2A2C41;
  color: orange;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.active1, .collapsible:hover {
  background-color: orange;
  color: #2A2C41;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode de (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2796"; /* Unicode de (-) */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #2A2C41;
  color: black;
}

.flip-card-back {
  background-color: #2A2C41;
  color: orange;
  transform: rotateY(180deg);
}

/* MOBILE VERSION*/

@media (max-width: 576px) {
    .table th, .table td {
        width: 100%;
    }

    .table thead {
        display: inline-block; /* Ocultar el encabezado de la tabla en dispositivos muy pequeños */
        width: 100%;
        font-size: 0.8rem;
    }

    .table tbody tr {
        display: list-item; /* Mostrar cada fila como un bloque */
        width: 100%;
    }
    
    .table tbody tr td {
        width: 100%;
        display: inline-block; /* Ocultar el encabezado de la tabla en dispositivos muy pequeños */
        font-size: 0.9rem;
    }
    
    .table tbody tr td::before {
        width: 100%;
        display: inline-block; /* Ocultar el encabezado de la tabla en dispositivos muy pequeños */
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .sidebar {padding-top: 40px;}
  .sidebar a, .sidebar .dropdown-btn {font-size: 20px;}
}

.navbar, .container-fluid {
    background-color: #F4F4F8;
}

footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F4F4F8;
}

@media (max-width: 576px) {
    footer {
        padding: 0px;
    }
}

.header {
    height: 20vh;
    background: linear-gradient(to right, #2A2C41, #F4F4F8);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.heading-primary {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.50rem;
}


@media only screen and (max-width: 51.25rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 57rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 37.5rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 25.9rem) {
    .heading-primary {
        font-weight: 400;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 10vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 23.5rem) {
    .heading-primary {
        font-weight: 400;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 10vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}