@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-prim">Lista de Tiquetes de Descuento</h2>
        </div>
    </div>

    <br />

    <div class="p-4 border rounded bg-light table-responsive">
        <table id="tblDatos" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Codigo</th>
                    <th>Descripción</th>
                    <th>Diponibles</th>
                    <th>Descuento</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <br />

    <div class="text-end">
        <a class="newbtn newbtna" asp-action="Upsert"><i class="bi bi-plus-square-fill"></i> Crear Nuevo Tiquete de Descuento</a>
    </div>
</div>

<br />

<br />

@section Scripts {
    <script src="~/js/tiquetedescuento.js"></script>
}
