@using EFood.Utilidades
@{
    ViewData["Title"] = "Centro de Ayuda";
}
<div class="container">
    <h1 class="text-prim">@ViewData["Title"]</h1>

    <p style="font-size: 25px">Si tienes problemas con algunas de las funciones puedes observar las ayudas a continuación</p>
    @if (User.IsInRole(DS.Rol_Admin))
	{
		<h3>Mantenimiento</h3>
		<button type="button" class="collapsible">Problemas al Agregar Objeto</button>
		<div class="content">
			<p>Si tienes un error al agregar un objeto, revisa que los datos que ingresaste sean correctos y que la página no tire algun error de que sea requerido algun espacio o formato, si el error continua contacta con el administrador.</p>
		</div>

		<br />

		<h3>Consultas</h3>
		<button type="button" class="collapsible">Open Collapsible</button>
		<div class="content">
			<p>Lorem ipsum...</p>
		</div>

		<br />

		<h3>Seguridad</h3>
		<button type="button" class="collapsible">Open Collapsible</button>
		<div class="content">
			<p>Lorem ipsum...</p>
		</div>
	}
	else if (User.IsInRole(DS.Rol_Mantemiento))
	{
		<button type="button" class="collapsible">Open Collapsible</button>
		<div class="content">
			<p>Lorem ipsum...</p>
		</div>
	}
	else if (User.IsInRole(DS.Rol_Consulta))
	{
		<button type="button" class="collapsible">Open Collapsible</button>
		<div class="content">
			<p>Lorem ipsum...</p>
		</div>
	}
	else if (User.IsInRole(DS.Rol_Seguridad))
	{
		<button type="button" class="collapsible">Open Collapsible</button>
		<div class="content">
			<p>Lorem ipsum...</p>
		</div>
	}
	else
	{
		<p>Logueate primero para continuar!</p>
	}

	<br />
	@* <h2>Contacto Administrador</h2> *@

</div>

@* <div class="container justify-content-around" style="align-content: center; display:flex">
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/imagenes/ayudaIcon/images.png" alt="Avatar" style="width:300px;height:300px;">
			</div>
			<div class="flip-card-back">
				<h1>John Doe</h1>
				<p>Architect & Engineer</p>
				<p>We love that guy</p>
			</div>
		</div>
	</div>
</div> *@

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active1");
			var content = this.nextElementSibling;
			if (content.style.maxHeight) {
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			}
		});
	}
</script>