@{
    ViewData["Title"] = "Home Page";
}

<header class="header">
	<div class="container pt-sm-5">
		<div class="heading-primary">
			<h1 class="display-4">E-Food</h1>
			<p class="lead">Tu restaurante en línea</p
		</div>
	</div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <div class="text-right">
                <h1 class="display-4">Bienvenido</h1>
                <p>Este es un e-backend para un restaurante, diseñado para simplificar la gestión de tu negocio gastronómico. Con nuestro sistema, puedes administrar fácilmente los pedidos, actualizar los menús, mantener un registro de los clientes y mucho más. ¡Bienvenido a una forma más eficiente de gestionar tu restaurante!</p>
                <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
        </div>
    </div>
</div>
