@page
@model ForgotPasswordQuestionModel
@{
    ViewData["Title"] = "Pregunta de Seguridad";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h2>@Model.Input.PreguntaSeguridad</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Email" type="hidden" />
                <input asp-for="Input.PreguntaSeguridad" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.RespuestaSeguridad" class="form-control" autocomplete="respuesta" aria-required="true" />
                    <label asp-for="Input.RespuestaSeguridad" class="form-label">Respuesta de Seguridad</label>
                    <span asp-validation-for="Input.RespuestaSeguridad" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Confirmar Pregunta</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
