@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Email" type="hidden" />
            @if (Model.Input.Opcion == null)
			{
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="old-password" aria-required="true" placeholder="Porfavor ingrese su contraseña actual." />
                    <label asp-for="Input.OldPassword" class="form-label">Contraseña actual</label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            } else
            {
                <input asp-for="Input.OldPassword" type="hidden" />
            }
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Porfavor ingrese su nueva contraseña." />
                <label asp-for="Input.Password" class="form-label">Nueva contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Porfavor confirme su nueva contraseña." />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar nueva contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
