@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Tu contraseña se ha cambiado exitosamente. Porfavor <a asp-page="./Login">has click aqui para loguearte</a>.
    </p>

</div>