@model EFood.Modelos.Usuario
@using EFood.Utilidades

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Editar Usuario";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != null)
        {
            <input type="hidden" asp-for="Id" id="id" />
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="form-floating mb-3">
            <label asp-for="Rol">Rol</label>
            <input asp-for="Rol" class="form-control" />
        </div>

        <div class="form-check">
            <input asp-for="Estado" class="form-check-input" />
            <label asp-for="Estado" class="form-check-label">Estado</label>
        </div>

        <br />
        <div>
            @if (Model.Id != null)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            @* else
            {
                <partial name="_BotonesCrearYRegresar" />
            } *@
        </div>
    </div>
</form>
